---

---
{members.list[0].name}
<main class="w-screen">
  <div class="flex flex-row flex-wrap">
		{members.list
    .filter((member)=>{return member.type === 'Candidate / Member'})
    .map((member)=>{
		return <Member {...member} />
		})}
  </div>
